/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #b34ab4;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #fff;
  margin: 30px 50px;
  line-height: 1.4;
}

.btn {
  background: var(--dark);
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}

.btn:hover {
  background: #333;
}

img {
  max-width: 100%;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

div.logo-container {
  height: 100px;
  width: 100px;
  left: 47%;
  position: relative;
  bottom: 25%;
}

/* Navigation */
.main-nav ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, 0.5fr);
}

.main-nav a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.main-nav a:hover {
  background: var(--dark);
  color: var(--light);
}

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "showcase showcase top-box-a"
    "showcase showcase top-box-b";
}

/* Showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(img/showcase.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--dark);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--dark);
}

/* Top Box */
.top-box {
  background: url(img/clothes_and_accessories.jpg);
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.button {
  background: var(--dark);
  padding: 1rem 2rem;
  color: var(--light);
  border: 0;
}

.button:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--light);
  margin: 5% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
}

.modal-body {
  padding: 10px, 20px;
}

.modal-footer {
  background: var(--dark);
  padding: 10px;
  color: #fff;
  text-align: center;
}

.modal-header {
  background: var(--light);
  padding: 15px;
  color: var(--dark);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: var(--dark);
}

.closeBtn:hover,
.closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

/* Info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "top-box-a top-box-b";
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "top-box-a"
      "top-box-b";
  }
}

/* Checkout */

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}
.section-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: var(--dark);
  text-align: center;
  font-size: 2.5em;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
}

.btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid var(--dark);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: var(--dark);
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: var(--dark);
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--primary);
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--dark);
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: var(--dark);
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: var(--dark);
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--dark);
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: var(--dark);
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: var(--dark);
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid var(--dark);
  background-color: #fff;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid var(--dark);
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--dark);
  margin-right: 20px;
}

.cart-total-price {
  color: var(--dark);
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}
